{:paths    ["src"]
 :deps     {org.clojure/clojure      {:mvn/version "1.11.1"}
            uncomplicate/neanderthal {:mvn/version "0.43.0"} ; matrix math
            ; Optional. If bytedeco is not present, a system-wide MKL is used.
            #_#_org.bytedeco/mkl-platform {:mvn/version "2022.2-1.5.8"}}
 :aliases  {:dev
            {:extra-deps
             {com.mjdowney/rich-comment-tests ; literate testing
              {:git/tag "v1.0.3"
               :git/sha "a8711e9"
               :git/url "git@github.com:matthewdowney/rich-comment-tests.git"}}}

            :test
            {:exec-fn com.mjdowney.rich-comment-tests.test-runner/run-tests-in-file-tree!
             :exec-args {:dirs #{"src"}}}}

 :jvm-opts ["-Dclojure.compiler.direct-linking=true"
            "-XX:MaxDirectMemorySize=8g"
            "-XX:+UseLargePages"
            "--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"
            "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
